.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 80px;
  font-family: var(--font-geist-sans);
  background-color: white;
  color: #000000;
 flex-direction: column;
 justify-content: space-between;

}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 62px;
  height: 100%;
  flex-wrap: wrap;
  
}
.Logo_box{
  align-self: start; 
  display: flex;
  width: 100%; 
}
.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}
.box{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  min-height: 15rem;
  padding-left: 20px;
  border-left:4px #f30000 solid;

}
.head{
  font-size: 20px;
  font-weight: bolder;
  font-family: monospace;
}
.note{
  width: 29rem;
  font-size: 14px;
  line-height: 1.6;
  font-family: monospace;
  font-weight: 300;
  margin-top: 30px;
}

.p{
  padding-bottom: 10px;
}

.btns{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-items: end;
  font-family: monospace;
  margin-top: 50px;
}

.btns_1, .btns_2{
  background: rgb(3, 3, 3) !important;
  padding: .5rem 1.5rem;
  border: 2px solid #000000 !important;
  font-size: 11px;
  color: #ccc;

}
.btns_1:hover , .btns_2:hover{
  background: rgb(255, 252, 252) !important;
  border: 2px solid #000000 !important;
  color: #000000;
  font-weight: bolder;
}

